$veryDarkBlue: hsl(216, 12%, 8%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$orange: hsl(25, 97%, 53%);

body {
  background-color: $veryDarkBlue;
}

.hidden {
  display: none;
}

.card {
  background-color: $darkBlue;
  padding: auto;
  margin: auto;
  height: 450px;
  margin-top: 20%;
  border-radius: 20px;
  width: 22rem;
  @include media-breakpoint-up(lg) {
    width: 30rem;
    height: 450px;
    margin-top: 10%;
  }
}

.card-img {
  display: block;
  width: 40px;
  height: auto;
  background-color:hsl(216, 12%, 54%, 0.1);
  border-radius: 50%;
  padding: 10px;
  margin-top: 25px;
  margin-left: 30px;
}

.btn-rating {
  width: 50px;
  height: 50px;
  background-color:hsl(216, 12%, 54%, 0.1);
  border: transparent;
  border-radius: 50%;
  color: $mediumGrey;
  &:hover {
    background-color: $orange;
    border: $orange;
  }
  &:focus {
    background-color: $mediumGrey !important;
    border: $mediumGrey;
  }
}

.rating {
  margin-left: 5%;
}


.btn-submit {
  background-color: $orange;
  border: $orange;
  border-radius: 30px;
  width: 90%;
  height: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  &:hover {
    background-color: $white;
    color: $orange;
  }
}

.btn-submit[disabled] {
  background-color: $orange;
}

.card-img-thanks {
  margin-top: 10%;
}